# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/personal
DB_USERNAME=root
DB_PASSWORD=your_password

# Server Configuration
SERVER_PORT=8081

# Clash of Clans API Token
# Get from https://developer.clashofclans.com/
# Production IP: 65.2.82.60
COC_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjQ2MWI5ZjM0LWYwYjItNDVhYi05Y2MxLWZmODk3NmM2ZDIzNSIsImlhdCI6MTc3MzQ3OTc4Nywic3ViIjoiZGV2ZWxvcGVyLzkzM2UwN2IwLWMzYmItNWY2Zi1iYjRiLWZmZjYzMzI4NzZkNyIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjY1LjIuODIuNjAiXSwidHlwZSI6ImNsaWVudCJ9XX0.WW4SrYWdIK_NSIsZGQ2WD1-2ACQzcbsW5s_J3tyw1e3Y4HSTbRzRU0ZbAST0KJdxw5HrkRSfLYvJIYdkejT5uQ
